body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom right, #551b1b, #fa2e2e); ;
    font-family: 'Do Hyeon', sans-serif;
}

.card {
    background-color: #5d1515;
    border-radius: 15px;
    border-width: thick;
    border-color: #fa9292;
    border-style: solid;
    color: white;
    box-shadow: 0 2px 10px black;
    margin: 10px;
}

.comment {
    background-color: #8d3a3a;
    border-radius: 15px;
    border-width: 8px;
    border-color: #fa9292;
    border-style: solid;
    color: white;
    box-shadow: 0 2px 15px black;
}

h1, h3, form {
    color: white;
    text-shadow: 0 2px 3px black;
}

.title-text {
    font-size: 102px;
    color: white;
    text-shadow: 10px 5px 0px black;
    padding-left: 10px;
    transform: rotate(4deg)
}

header {
    margin: 5px;
}

img {
    width: 80px;
    height: 80px;
}

#image {
    margin-top: 20px;
}