body {
    margin: 0px;
    padding: 0px;
    background-color: #551b1b;
    font-family: 'Do Hyeon', sans-serif;
}

.card {
    background-color: #994141;
    border-radius: 15px;
    border-width: thick;
    border-color: #fa9292;
    border-style: solid;
    color: white;
    box-shadow: 0 2px 10px black;
    margin: 10px;
}

.comment {
    background-color: #994141;
    border-radius: 15px;
    border-width: 8px;
    border-color: #fa9292;
    border-style: solid;
    color: white;
    box-shadow: 0 2px 15px black;
}

h1, h3 {
    text-shadow: 0 2px 3px black;
}

header {
    font-size: 102px;
}

